
    @font-face {
        font-family: 'Ronzino-Regular';
        src: url('/fonts/Ronzino-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
    font-family: 'Arial Narrow Web';
    src: url('/fonts/arial-narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --accent-color: #1b629f;
    --accent-color-2: #a1c4e2;
    --accent-color-3: #bd1c52;
    --background-color: white;
    --foreground-color: black;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;

    /*overscroll-behavior-y: none;*/

    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.mainbody {
    padding: 1.5em 2em 1em 2em;

}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;

    color: var(--foreground-color);
    margin: 0 auto;

    cursor: default;
    max-width: 100vw;
    background-color: var(--background-color);
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Arial Narrow Web", 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size:15px;
    letter-spacing: 0.25px;
    font-style: normal;

}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.25px;
    font-style: normal;
}

.split {
    display: block;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    margin-bottom: 1em;
    flex-wrap: nowrap;
    align-self: flex-start;
}

.nav {
    z-index: 100;
    display:flex;
    white-space: nowrap;
    justify-content: space-between;

    border: 1px solid var(--foreground-color);
}

#info-button p, #archive-button p {
    /*border: 1px solid var(--foreground-color);
    background-color:var(--background-color);*/
    color: var(--foreground-color);
    text-align: right;
    z-index: 100;
    white-space: nowrap;
    line-height: 22px;
    max-width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;


    -webkit-transition: all .5s;
    transition: all .3s;
}

#info-button p:hover, #archive-button p:hover {
    color: var(--accent-color-2);
    text-shadow: 0 0 2px rgba(20, 83, 192, 0.7);
    background-color:var(--foreground-color);
    -webkit-transition: all .5s;
    transition: all .3s;
}

#info-button a, #archive-button a{
    text-decoration: none;
}

#header-container-right {
    white-space: nowrap;
    display: flex;
    gap: 0.5em;
}

#header-container {
    white-space: nowrap;
}

#header-container p {
    /* border: 1px solid var(--foreground-color);
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    background-color:var(--background-color);
    padding: 2px 5px 2px 5px;*/

    background-color: var(--foreground-color);
    color: var(--background-color);

    text-align: left;
    z-index: 100;
    white-space: nowrap;
    line-height: 20px;
    max-width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 2px;

    -webkit-transition: all .5s;
    transition: all .3s;
}

#header-container a {
    background-color: var(--foreground-color);
    color: var(--background-color);
    text-decoration: underline;
    text-align: left;
    z-index: 100;
    white-space: nowrap;
    line-height: 20px;
    max-width: min-content;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-transition: all .5s;
    transition: all .3s;
}

#header-container a:hover {
    color: var(--accent-color-2);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

#header-container p:hover {
    color: var(--accent-color-2);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}


#header-container a :visited {
    color: var(--background-color);
    text-decoration: none;
}

.links {
    margin-top: 3px;
    width: 400px;
}

.fix {
    position: fixed;
    bottom: 0px;
    right: 0%;
    width: 35em;
}

p {
    color: var(--foreground-color);
}

a {
    cursor: pointer;
}

#role-change {
    color: var(--accent-color);
}

::selection {
    color: var(--accent-color-2);
    background-color: var(--foreground-color);
}

.unavailable.tooltiptext {
    background-color: #000000;
    color: rgb(175, 175, 175);
    border: 1px solid #6b6b6b;
}

.tooltiptext {
    z-index: 900;
    position: absolute;
    border: 1px solid var(--background-color);
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding: 3px 4px 3px 4px;
    text-align: left;
    visibility: hidden;
    white-space: nowrap;
    line-height: 17px;
    width:max-content;
    text-wrap: inherit;
}

.grey {
    color: rgb(175, 175, 175);
    font-style: italic;
}

.greyed {
    color: var(--accent-color);
}

.yo {
    margin-top: 2em;
}

.gurt {
    text-align: center;
    font-size: 12px;
    line-height: 5%;
    padding-top: 1.5em;
}

.gurt p{
    text-align: center;
    font-size: 12px;
}

.byebye {
    margin-top: 1em;
    transition: transform .4s ease-in-out;
}

.byebye img{
    transition: transform .3s ease-in-out;
}

.byebye:hover {
  transform:translateX(-2em);
}

.project-grid {
    z-index: 1;
    columns: 3 200px;
    gap: 15px;
    break-inside: avoid;
    margin-top: 1.5em;
    position: relative;
    display: flex;
    
}

  /*.project-grid-old {
        z-index: 1;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-flow: dense;
        gap: 1em;

        z-index: 1;
        columns: 3;
        height: min-content;
        gap: 10px;
        break-inside: avoid;
        margin-top: 1.5em;
        position: relative;
        display: block;
}*/

.column {
     flex: 1;
}

.project {
        margin-bottom: 15px;
        position: relative;
}

.project p {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
}

.project video {
    width: 100%;
    height: auto;
    display: block
}

.vid-16-9 {
    aspect-ratio: 16 / 9;
    width: 100%;
}

/*info page*/

.info-body {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 74vh;
    margin: 0% auto;
    gap: 2em;
    break-inside: avoid;
    padding-top: 6.5em;

    box-sizing: border-box;
    align-items:start;

    flex-wrap: nowrap;
}

.info-item {
    text-align: left;
    width: 33%;
    padding-top: 10px;
    box-sizing: border-box;
}

.info-item-portrait {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: end;
}

.info-item-portrait img{
    float: right;
    width:75%;
    transition: transform .4s ease-in-out;
}

.info-item-portrait img:hover {
  transform: rotate(8deg);
}

.info-item a {
    color: var(--foreground-color);
    font-style: none;

    -webkit-transition: all .5s;
    transition: all .3s;
    text-decoration: underline var(--foreground-color);
}

.info-item a:hover {
    background-color:var(--foreground-color);
    color: var(--accent-color-2);
    -webkit-transition: all .5s;
    transition: all .3s;
}

.info-item a:visited {
    text-decoration: none;
}

/*project pages*/

.full-page {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-right: 1px solid var(--foreground-color);
    overflow-y: scroll;
    height: 100%;
    flex: 0 0 22em;
    position: sticky;

    /* from https://stackoverflow.com/a/12034794 */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
}

.inline-link {
    color:var(--accent-color);
}

.inline-link :visited{
    color:var(--accent-color);
}

.inline-link:hover{
    color:var(--accent-color-2);
    background-color: var(--foreground-color);
}


.right-side {
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding: 2em 2em 2em 2em;
    /*height: 100%;*/
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    flex: 1 1 0;

    vertical-align: center;
    /* Vertically centers the child */
    justify-content: center;
    /* Horizontally centers the child (optional) */

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    /* from https://stackoverflow.com/a/12034794 */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
}

.right-side-headertext{
    color:var(--background-color);
    margin: 0%;
    font-size: 13px;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
}
mark {
    background-color: var(--foreground-color); 
    color: var(--accent-color-2); 
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

hr {

    height: 1px;
    width: 100%;
      border: 0;
  border-bottom: 1px solid #222;

}

#project-title {
    color: var(--accent-color);
    margin-top: 2em;
    margin-bottom: 0%;
    line-height: 0.5em;
}

#data {
    display: flex;
    justify-content: space-between;
    line-height: 1.25em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 14px;
}

#data p {
    margin: 0%;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
}


#project-desc {
    margin-top: 0em;
}

.project-asset {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center top;
    /*margin-bottom: 1.5em;*/
}

/*PROJECT PAGE GRID LAYOUTS*/
    .grid-container-1cl-pad {
    padding-left: 2em;
    padding-right: 2em;
    }

    .grid-container-2cl {
      display: grid;
      grid-template-columns: 1fr 1fr;
        padding-left: 2em;
        padding-right: 2em;
      gap: 15px;
    }

    .grid-container-2cl-fixed {
      display: grid;
      grid-template-columns: 1fr 1fr;
        padding-left: 0em;
        padding-right: 0em;
      gap: 0px;
    }

    .grid-container-3cl {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
        padding-left: 2em;
        padding-right: 2em;
      gap: 15px;
    }

    .grid-container-2cl img{
      width: 100%;
    }

    .grid-container-2cl-flex {
      display:flex;
      padding-left: 2em;
      padding-right: 2em;
      gap: 15px;
      box-sizing: border-box;
      width:100%;
    }

    .grid-container-2cl-flex img{
      width: 100%;
    }

    .grid-item {
      padding-bottom: 15px;
    }

    .grid-item p{
      color:rgb(202, 202, 202);
      margin: 0%;
      font-size: 12px;
      padding-top: 0.5em;
      font-style: italic;
      text-align: center;
    }
    
    .grid-item a{
      color:rgb(202, 202, 202);
      margin: 0%;
      font-size: 12px;
      font-style: italic;
      text-align: center;
      text-decoration: none;
    }

    .grid-item a:hover{
      color:var(--accent-color-2);
      margin: 0%;
      font-size: 12px;
      font-style: italic;
      text-align: center;
      text-decoration: none;
          -webkit-transition: all .5s;
    transition: all .3s;
    }

    .rounded-text {
        border: 1px solid rgba(0, 0, 0, 0.359);
        border-radius: 10px;
        padding: 0.25px 6px 0.5px 6px;
    }

    .tags {
    margin:0%;
    margin-bottom: 1.5em;
    display:flex;
    gap: 0.25em;
    }

    .tags p {
     margin:0%;
    }

footer {
    position: static;
    align-self: flex-start;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-shrink: 0;

    color: var(--accent-color);

    text-align: left;
    z-index: 100;
    white-space: nowrap;
    max-width: fit-content;
    padding-top: 1em;
}

footer a {
    text-decoration: none;
    color: var(--accent-color);
    -webkit-transition: all .5s;
    transition: all .3s;
}

footer a:visited {
    text-decoration: none;
    color: var(--accent-color);
}

footer a:hover {
    color: var(--accent-color-2);
    background-color:var(--foreground-color);
    -webkit-transition: all .5s;
    transition: all .3s;
}

.codemsg {
    position: fixed;
    left: 11.75em;
    bottom: 1em;
    display: flex;
    padding: 0%;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.msg {
    font-size: 10px;
    display: block;
    margin: auto 0px;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    left: 50%;

    height: 35px;
    justify-items: center;
}

.pxl {
    background: url('/images/favicon.png');
    height: 20px;
    width: 20px;
    display: block;
}


/*
@media only screen and (orientation: portrait) {

    body{
        font-size: 15px;
    }

    .project-grid {
        columns:2;
        gap:5px;
        break-inside:avoid;
    }

    .project{
        margin-bottom: 5px;
        position: relative;
    }

    .split{
        flex-direction:column;
        display: flex;
        width: 100%;
    }

    .intro {
    margin: 0%;
    }


}
*/

@media (max-width: 62em /* 688px */){
    .project-grid {
        z-index: 1;
        columns: 2;
        gap: 10px;
        break-inside: avoid;
        margin-top: 1.5em;
        position: relative;
        display: block;
    }

    .project {
        margin-bottom: 10px;
        position: relative;
        break-inside: avoid;
    }
}

@media only screen and (max-width: 42em /* 344px */) {
    body {
        font-size: 14px;
        max-width: 688px;
        margin: 0%;
    }

    .gurt {
    text-align: center;
    font-size: 12px;
    line-height: 5%;
    padding-top: 1.5em;
}

    .gurt p{
    text-align: center;
    font-size: 12px;
}

.tooltiptext {
    z-index: 999;
    position: absolute;
    border: 1px solid var(--background-color);
    background-color: var(--foreground-color);
    color: var(--background-color);
    padding: 3px 4px 3px 4px;
    text-align: left;
    visibility: hidden;
    white-space: nowrap;
    line-height: 17px;
    width:max-content;
    text-wrap: inherit;
    
}

    .project-grid {
        z-index: 1;
        columns: 1;
        gap: 10px;
        break-inside: avoid;
        margin-top: 1.5em;
        position: relative;
        display: block;
    }


    .column {
        flex:1;

    }

    .project {
        margin-bottom: 10px;
        position: relative;
        break-inside: avoid;
    }

    .split {
        flex-direction: column;
        display: flex;
        width: 100%;
    }

    .main {
        display: block;
        margin-top: 1em;
    }

    .intro {
        margin-top: 1em;
        width:fit-content;
        text-align: left;
    }

    .fix{
        width: 70%;
    }

    .full-page {

        width: 100%;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: visible;

        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;

        /*padding-left: 2em;
        padding-right: 2em;*/

        /* from https://stackoverflow.com/a/12034794 */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
    }

    .left-side {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: fit-content;

        border-bottom: 1px solid var(--foreground-color);
        border-right: 0px solid var(--foreground-color);
        overflow-y: auto;
        overflow-x: hidden;

        flex: 0 0 auto;
        position: sticky;

        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom:1em;

        /* from https://stackoverflow.com/a/12034794 */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
    }

    #data {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        margin-top: 0em;
        margin-bottom: 0em;
    }

    #purpose {
        font-size: 12px;
        line-height: 0px;
        margin-bottom: 0em;
    }

    .right-side {

        width: 100%;

        padding-left: 2em;
        padding-right: 2em;
        padding-top: 3em;
        padding-bottom: 3em;

        align-items: center;

        overflow-y: visible;
        /* from https://stackoverflow.com/a/12034794 */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
    }

    .project-asset {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center top;
        /*margin-bottom: 1.5em;*/
    }

    .grid-container-1cl-pad {
    padding-left: 2em;
    padding-right: 2em;
    }

    .grid-container-2cl {
      display: grid;
      grid-template-columns: 1fr;
        padding-left: 2em;
        padding-right: 2em;
      gap: 1px;
    }

    .grid-container-2cl-fixed {
      display: grid;
      grid-template-columns: 1fr 1fr;
        padding-left: 0em;
        padding-right: 0em;
      gap: 5px;
    }

    .grid-container-2cl-flex {
      display: flex;
      flex-direction: column;
        padding-left: 3em;
        padding-right: 3em;
      gap: 0px;
    }

    .grid-item {
      padding-bottom: 15px;
    }


    footer {
        display: none;
    }

    .codemsg {
    position: fixed;
    left: 2em;
    bottom: 0.4em;
    display: flex;
    padding: 0%;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-shrink: 0;
}


    #wip-blurb {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: var(--foreground-color);
        background-color: var(--background-color);

        font-family: "univers-next-pro", sans-serif;
        font-size: 14px;
        letter-spacing: 0.25px;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    hr {
        border: none;
        height: 0.75px;
        width: 100%;
        /* Set the hr color */
        color: #333;
        /* old IE */
        background-color: #333;
        /* Modern Browsers */
        margin-bottom: 0px;
    }

    .info-body {
    flex-direction: column;
    width: 90%;
    height: auto;
    gap: 15px;
    padding-top: 3em;
    padding-bottom: 4em;
}

.info-item {
    width: 100%;
}

.info-item-portrait {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

}

/* bio text change automatic */
span {
  color: var(--accent-color);
}

.toggle {
  display: none;
}

.active {
  display: inline-block;
}